.store-container {
    flex:1;
    background-color:var(--bs-gray);
    overflow-y:scroll;
}

.upgrades-container {
    background-color:var(--bs-gray);
    display:flex;
    flex-flow:column;
    justify-content:center;
    align-items: center;
    gap:12px;
}

main {
    height:calc(100% - 70px);
    display:flex;
    flex-direction:column;
}