.dice-container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:row;
    flex-wrap:wrap;
    gap:20px;
    height:auto;
    width:100%;
    background-color:var(--bs-muted);
}

.rolling-container {
    background-color:var(--bs-muted);
    display:flex;
    flex:1;
    flex-flow:column;
    justify-content:center;
}