
.text-floating {
    position: absolute;
    animation: itemTextFloatUp 3s ease-in forwards;
    animation-delay: 0.01s;
    font-size:20cqw;
    z-index:10;
    top: 80%;
    left: 50%;
}

@keyframes itemTextFloatUp {
    0% {
        transform: translate(-50%, -80%);
    }
    100% {
        transform: translateY(-100vh);
    }
}