.dice-board-main-panel {
    display:flex;
    flex-direction:column;
    background-color:var(--bs-gray);
    flex:1;
    width:100%;
}

Button {
    width:200px;
    height:100px;
    margin:20px;
    align-self:center;
}

.dice-container {
    display:flex;
    align-items:center;
    justify-content:center;
    flex-flow:row;
    flex-wrap:wrap;
    gap:20px;
    height:auto;
    width:100%;
    background-color:var(--bs-muted);
}

.rolling-container {
    background-color:var(--bs-muted);
    display:flex;
    flex:1;
    flex-flow:column;
    justify-content:center;
}