
.text-floating {
    position: absolute;
    animation: floatUp 3s ease-in forwards;
    animation-delay: 0.01s;
    font-size:20cqw;
    z-index:10;
}

@keyframes floatUp {
    0% {
        transform: translateY(0);
        color:lime;
    }
    100% {
        transform: translateY(-100vh);
        color:white;
    }
}