
.header-title {
    height:100%;
}

.header-img {
    height:100%;
}

.title {
    object-fit:contain;
}

.header-div {
    width:100%;
    height:70px;
    background-color:var(--bs-green);
}

.expanded-header {
    display:block;
    background-color:var(--bs-green);
    height:100px;
}

nav {
    width:100%;
    height:100%;
}