
.header-title {
    height:100%;
}

.header-img {
    height:100%;
}

.title {
    object-fit:contain;
}

.header-div {
    width:100%;
    height:70px;
    background-color:#a8ffcb;
}

nav {
    width:100%;
    height:100%;
}