.att-buy-title {
    text-align:start;
    font-weight:600;
    font-size: clamp(16px, 4vw, 3em);
    display:inline; 
    white-space: nowrap;
    align-content:center;
}

.att-buy-desc {
    text-align:start;
    font-weight:200;
    font-size: clamp(0.5em, 1.4vw, 3em);
    align-content:center;
}

.purchase-bar {
    width:100%;
    height:100px;
    display:flex;
    flex-direction:row;
}

.buy-btn {
    background-color:var(--bs-info);
    flex-grow:1;
    gap:1em;
    margin-top:3em;
    min-width:0px;
}

.cost-btn {
    background-color:var(--bs-yellow);
    width: 20%;
    height:100%;
    align-content:center;
    margin-top:3em; 
    margin-left:0px;
}

.att-img {
    object-fit:contain;
}

.att-cost-text {
    font-size: clamp(16px, 4vw, 3em);
}